<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <parameter name="language" value="english"></parameter>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="testcases.VerifyLoginWithValidData"/>
      <class name="testcases.CreateLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
